{# templates/admin/custom.html.twig #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Main Street Fernley - PokerRun Map{% endblock %}

{% block content %}
    <div class='text-center'>
        <img class='my-2 img-fluid text-center' src="{{ asset('images/Poker Walk - Map.png') }}"/>
    </div>
    <br/>
    <div class='text-center'>
        <img class='my-2 img-fluid text-center' src="{{ asset('images/Poker Walk - Fernley Main Street.png') }}"/>
    </div>
{% endblock %}