{# templates/admin/custom.html.twig #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block title %}Main Street America Fernley's Poker Run{% endblock %}

{% block body %}
    <div class="bg-secondary mb-2 px-2 d-flex">
        <a class="text-white" href="{{ path('cardstop') }}">Poker Run</a>
        <span class="mx-1">&gt;</span>
    </div>
{% endblock %}
