.poker-card {
    flex: 0 1 auto;
    width: 6.5em !important;
    font-size: 14px;
    margin: 5px;
    padding: 5px 8px;
}

.poker-card-body {
    display: inline-block;
    height: 7.5em;
    width: 100%;
    font-size: 14px;
    background-image: url('../images/red_joker.png');
    background-size: cover;
    background-position: center;
}

.pcf {
    padding: 2px;
    font-size: 14px;
    text-align: center;
}

.card-stop-logo {
    width: 100px;
    object-fit: cover;
    margin-right: 8px;
    border-radius: 4px;
    vertical-align: middle;
    border: 1px solid #ccc;
    padding: 2px;
}

.card-stop-thumb {
    width: 100%;
    object-fit: cover;
    margin-right: 4px;
    border-radius: 4px;
    vertical-align: middle;
    border: 1px solid #ccc;
    padding: 2px;
}

.checkin-row {
    border-bottom: 1px solid #ccc;
    width: calc(100% - 20px);
}